@font-face {
    font-family: 'Copperplate Gothic';
    src:url('fonts/CopperplateGothic-Bold.eot')
    font-weight: bold;
    font-style: normal;
}
@font-face {
    font-family: 'Copperplate Gothic';
    src: local('fonts/Copperplate Gothic Bold'), local('fonts/CopperplateGothic-Bold'),
        url('fonts/CopperplateGothic-Bold.ttf') format('truetype'),
        url('fonts/CopperplateGothic-Bold.svg#CopperplateGothic-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

